<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="/js/3rd/vue@2.6.12.js"></script>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/comic.css">

</head>

<body>
  <div class='page-wrapper' id='main'>
    <comic></comic>
  </div>
</body>

</html>

<script>
  tmp = `
  <div>
  <div class="comic">
    <img class="comic-cover" :src="'/image/'+comic.cover">
    <div class="comic-detail">
      <h1>{{comic.name}}</h1>
      <ul class="comic-info">
        <li><strong>Publisher</strong>: {{comic.publisher}}</li>
        <li><strong>Year</strong>: {{comic.year}}</li>
        <li><strong>Pages</strong>: {{comic.pages}}</li>
        <li><strong>Size</strong>: {{comic.size}} Mb</li>
        <li class="tags"><strong>Tags</strong>: <a :href="'/page/tags.html?tag='+tag" v-for="tag in comic.tags">{{tag}}</a></li>
        <a class="download" :href="'https://florenfile.com/'+comic.download_url">Download</a>
      </ul>
    </div>
    </div>

      <ul class='comic-samples'>
        <li v-for="sample in samples">
          <img :src="sample">
        </li>
      </ul>

  </div>
  `

  Vue.component('comic', {
    template: tmp,
    data: function() {
      return {
        comic: '',
        samples: []
      }
    },
    created: function() {
      id = 1
      idx = getParameters()["id"]
      if (idx != null) {
        id = Number(idx)
      }

      fetch('/api/comic/' + String(id))
        .then(response => response.json())
        .then(data => {
          this.comic = data
          this.comic.tags = this.comic.tags.split('|')
          this.comic.tags.splice(0, 1)
          document.title = this.comic.name
        })
        .catch(err => console.log(err));

      fetch('/api/comic/' + String(id) + '/samples')
        .then(response => response.json())
        .then(data => (this.samples = data))
        .catch(err => console.log(err));

    },
    methods: {
      go: (targetUrl => window.location.href = targetUrl)
    }
  })

  function handleKeydown(e) {
    switch (e.keyCode) {
      case 37: // <-
        history.back(-1)
        break
      case 39: // ->
        break;
    }
  }

  function getParameters() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
      function(m, key, value) {
        vars[key] = value;
      });
    return vars;
  }
</script>
<script src="/js/page.js"></script>
