body {
  width: 100%;
  display: grid;
  background-color: #eee;
  font-size: 15px;
}

.page-wrapper {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 60vw;
  background-color: #fff;
  justify-self: center;
  align-self: center;
}

.comic {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.comic-cover {
  display: grid;
  /* max-width: 250px; */
  width: 260px;
  height: 400px;
  /* max-height: 400px; */
}

.comic-info {
  position: relative;
  padding-top: 5px;
  padding-left: 15px;
  /* background: red; */
}

.comic-info li {
  max-width: 650px;
  list-style: initial;
  padding-top: 5px;
}

.comic-info li a {
  padding-right: 10px;
}

.comic-info li a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

a.download {
  position: absolute;
  right: 1%;
  top: 100%;
  transform: translate(-0%, -99%);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.6vw;
  font-weight: bold;
  color: white;
  border: solid #222222 1px;
  background: linear-gradient(to bottom, #66666666, rgba(0, 0, 0, 1.0));
  border-radius: 3px;
}

a.download:hover {
  padding-top: 7px;
  padding-bottom: 9px;
  background: linear-gradient(to bottom, #444444aa, rgba(0, 0, 0, 1.0));
}

.comic-samples {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-top: 20px;
}

.comic-samples img {
  padding-right: 10px;
  padding-bottom: 10px;
  height: 250px;
}
