body {
  width: 100%;
  display: grid;
  background-color: #fff;
}

.page-wrapper {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 70vw;
  background-color: #eee;
  justify-self: center;
  align-self: center;
}

.comic {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.comic-cover {
  display: grid;
  height: 400px;
}

.comic-info {
  padding-top: 5px;
  padding-left: 15px;
}

.comic-info li {
  list-style: initial;
  padding-top: 5px;
}

.comic-info li a {
  padding-right: 10px;
}

strong {
  font-weight: bold;
}

a.download {
  display: grid;
  padding-top: 10px;
}

.comic-samples {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-top: 20px;
}

.comic-samples img {
  padding-right: 10px;
  padding-bottom: 10px;
  height: 260px;
}
