.container {
  /* max-width: 100vw; */
  /* height: 100vh; */
  /* max-height: 100vh; */
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.content {
  background: #fff;
  width: 100%;
}

.content .comic-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(4, 25vh); */
  /* grid-auto-rows: auto-fill; */
  grid-auto-rows: 23.1vh;
  grid-gap: 8px;
  /* grid-column-gap: 0.1vw; */
  /* grid-row-gap: 1vh; */
  width: 100%;
  height: 100%;
}

.content .comic-list .comic {
  display: grid;
  width: 100%;
  height: 100%;
  background: #efefef;
  background-repeat: no-repeat;
  background-size: 100%;
}

.content .comic-list .comic:hover {
  background-size: 110%;
  background-position: -12px -12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition-duration: 0.3s;
}

.content .comic-list .comic .overlay {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top left, transparent 50%, #ffffff 0) top left/35px 35px no-repeat, #00000000; */
  /* display: none; */
  position: relative;
}

.content .comic-list .comic .overlay.downloaded {
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.content .comic-list .comic .overlay .size-corner {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 35px 35px 0 0;
  border-color: #fff transparent transparent transparent;
}

.content .comic-list .comic .overlay .size-corner.bigsize-corner {
  border-color: #ffff00 transparent transparent transparent;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    border-color: #888 transparent transparent transparent;
  }
}

.content .comic-list .comic .overlay .favorite {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 35px 35px;
  border-color: transparent transparent red transparent;
}

.content .comic-list .comic:hover .overlay {
  display: none;
}

.content .comic-list .comic .overlay .size-corner .size {
  position: absolute;
  top: 6px;
  left: -2px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  transform: rotate(-45deg);
}

.content .comic-list .comic .comic-info {
  position: relative;
  width: 100%;
  height: 100%;
  background: #00000088;
  display: none;
}

.content .comic-list .comic:hover .comic-info {
  display: block;
}

.content .comic-list .comic:hover .comic-info h3 {
  font-size: 0.6vw;
  padding: 4px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  user-select: contain;
  display: block;
}

.content .comic-list .comic .comic-info .info-div {
  position: relative;
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-rows: 20px 1fr;
  /* background: yellow; */
}

.content .comic-list .comic .comic-info .info-div ul {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  /* align-self: center; */
  justify-self: center;
}

.content .comic-list .comic .comic-info .info-div li {
  font-size: 0.5vw;
  font-weight: bold;
  float: left;
  color: #fff;
  border-right: #fff 1px solid;
  padding-right: 5px;
  padding-left: 5px;
}

.content .comic-list .comic .comic-info .info-div .tags {
  width: 100%;
  /* background: red; */
}

.content .comic-list .comic .comic-info .info-div li:last-child {
  border-right: unset;
}

.content .comic-list .comic .comic-info .download {
  position: absolute;
  padding-left: 8px;
  padding-right: 8px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
  font-size: 1.2vw;
  font-weight: bold;
  border: solid #222222 1px;
  background: linear-gradient(to bottom, #444444aa, rgba(0, 0, 0, 1.0));
}

.content .comic-list .comic .comic-info .download:hover {
  background: linear-gradient(to bottom, #bbbbbb66, rgba(0, 0, 0, 0.8));
}

.content .comic-list .comic .comic-info .download a {
  color: #fff;
}

.downloaded {
  position: absolute;
  left: 0%;
  top: 100%;
  transform: translate(0%, -100%);
  font-size: 1.3vw;
  color: #fff;
  width: 1.5vw;
  height: 1.5vw;
  text-align: center;
  border-radius: 4px;
}

.downloaded.active {
  background: greenyellow;
  color: #000;
  display: block;
}

.downloaded:hover {
  background: #adee2f;
}

.favorite {
  position: absolute;
  right: 0%;
  top: 100%;
  transform: translate(-0%, -100%);
  font-size: 1.4vw;
  color: #fff;
  width: 1.5vw;
  height: 1.5vw;
  text-align: center;
  border-radius: 4px;
}

.favorite.active {
  background: red;
  display: block;
}

.favorite:hover {
  background: #e00000;
}

.foot {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-auto-rows: 4vh;
  /* background: #888; */
}

.foot .nav-area {
  display: grid;
  /* background: #aaa; */
}

.foot .nav-area nav {
  align-self: center;
  justify-self: center;
}

.foot .paginate-area {
  display: grid;
  grid-template-columns: 1fr;
  /* background: #aaa; */
}

.foot .paginate-area .paginate-wrapper {
  align-self: center;
  justify-self: center;
  display: grid;
  /* grid-template-columns: 80px 1fr; */
  grid-template-columns: 1fr 80px;
  /* background: red; */
}

.foot .paginate-area .pagination {
  align-self: center;
  justify-self: start;
  /* background: red; */
}

.foot .paginate-area .go-div {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 40px 1fr;
  /* background: yellow; */
}

.foot .paginate-area .go-input {
  width: 30px;
  align-self: center;
  justify-self: center;
}

.foot .paginate-area label {
  align-self: center;
  justify-self: center;
}

.foot .search-area {
  display: grid;
  /* background: #666; */
}

.foot .search {
  align-self: center;
  justify-self: center;
}

.foot .search-input {
  width: 200px;
}

.foot .index {
  /* background: #ddd; */
}
